body {
    background-color: #B3E5FC;
    border-radius: 10px
}


.title {
	font-size: 50px;
}

.search__form {
	width: 30rem;
}

.content__imgage {
	width: 100%;
}

.alphabet {
	font-size: 5rem;
}



.card {
    width: 500px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9;
}
.container {
	max-width: 93.5rem;
	margin: 0 auto;
	padding: 0 2rem;
}


.container {
	max-width: 100%;
	width: 100%;
	margin: 2em auto;
}
.number1 {
    font-weight: 500
}



